.input1, .input2, .input3, .result1 {
  border-color: #222222;
  border-radius: 5px;
}
.Kd {
  margin-left: 30px;
  margin-right: 30px;
  padding: 30px;
  background-color: #ffffff;
  border: 3px solid #1a1a1b;
  color: #030303;
  text-decoration: none;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.knopki {
  text-align: center;
}
